body {
  /* margin: 0;
  padding: 0; */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 6px black;
  text-align: center;
}
.background {
  background-image: url("/picture/Mapleleaf.jpg");
  background-image: 100%;
}

.pickWine {
  margin-top: 50px;
}

/* img {
  width: 50%;
} */

div {
  align-content: center;
}

Link {
  color: white;
}