body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 6px black
}
.background {
  background-image: url("/picture/Mapleleaf.jpg");
  background-image: 100%;
}

.pickWine {
  margin-top: 50px;
}

img {
  width: 300px;
}